@model CC.WebApp.ViewModels.Admin.AddToolViewModel
@{
    ViewData["Title"] = "CC - Add tool";
}

<script language="JavaScript" type="text/javascript">
    $("#submit-tool-btn").on("click", function (e) {
        e.preventDefault();
        console.log("apan");
        $("#add-tool-form").submit();
    });
</script>


@using (Html.BeginForm("AddTool", "Admin", FormMethod.Post, new { @id = "add-tool-form"}))
{
    <div class="tool-form-container">
        <div class="shadow-lg tool-form">
            <h3>Add Tool</h3>
            <div class="mb-4 mt-3 form-part">
                <div class="">@Html.LabelFor(m => m.ToolName, "Tool name") </div>
                <div class="">@Html.TextBoxFor(m => m.ToolName)</div>
            </div>
            <div class="mb-4 form-part">
                <div class="">@Html.LabelFor(m => m.ToolDescription, "Tool description") </div>
                <div class="">@Html.TextBoxFor(m => m.ToolDescription)</div>
            </div>
            <div>
                <div class="">@Html.ValidationMessageFor(m => m.ToolName)</div>
                <div class="">@Html.ValidationMessageFor(m => m.ToolDescription)</div>
                <div>@TempData["message"]</div>
            </div>
            <button id="submit-tool-btn" class="btn btn-primary tool-form-btn">Submit</button>
        </div>
    </div>
}