@model CC.WebApp.ViewModels.Tools.ToolsViewModel
@{
    ViewData["Title"] = "CC - Tools";
}

<div class="temlate-head-area">
    <div class="template-head-text">
        <p>
            Below you can see the tools that we currently have for you to rent.<br/>
            If you click on the details button of a specific tool you will be able to see details about the tool as well as availibility.
        </p>
    </div>
    <div class="template-main-header">
        <p>Tools</p>
    </div>
</div>

<div class="template-sec-header">
    <p>Our tools</p>
</div>

<div class="template-showcase-area">
    @if (Model.Tools != null)
    {
        @foreach (var tool in Model.Tools)
        {
            <div class="Tool">
                <p class="template-img-title">@tool.Name</p>
                <div class="template-img-container">
                    <img src="~/images/tool.jpg" />
                    @Html.ActionLink("Details", "ToolDetails", "Tools", new {id=tool.Id}, new { @class="btn tool-details-btn tool-rent-btn shadow"})
                </div>
            </div>
        }
    }
    @*<div class="Tool">
        <p class="template-img-title">Tool</p>
        <div class="template-img-container">
            <img src="~/images/tool.jpg" />
            @Html.ActionLink("Details", "ToolDetails", "Tools", null, new { @class="btn tool-details-btn shadow"})
        </div>
    </div>
    <div class="Tool">
        <p class="template-img-title">Tool</p>
        <div class="template-img-container">
            <img src="~/images/tool.jpg" />
            @Html.ActionLink("Details", "About", "About", null, new { @class="btn tool-details-btn shadow"})
        </div>
    </div>
    <div class="Tool">
        <p class="template-img-title">Tool</p>
        <div class="template-img-container">
            <img src="~/images/tool.jpg" />
            @Html.ActionLink("Details", "About", "About", null, new { @class="btn tool-details-btn shadow"})
        </div>
    </div>
    <div class="Tool">
        <p class="template-img-title">Tool</p>
        <div class="template-img-container">
            <img src="~/images/tool.jpg" />
            @Html.ActionLink("Details", "About", "About", null, new { @class="btn tool-details-btn shadow"})
        </div>
    </div>
    <div class="Tool">
        <p class="template-img-title">Tool</p>
        <div class="template-img-container">
            <img src="~/images/tool.jpg" />
            @Html.ActionLink("Details", "About", "About", null, new { @class="btn tool-details-btn shadow"})
        </div>
    </div>
    <div class="Tool">
        <p class="template-img-title">Tool</p>
        <div class="template-img-container">
            <img src="~/images/tool.jpg" />
            @Html.ActionLink("Details", "About", "About", null, new { @class="btn tool-details-btn shadow"})
        </div>
    </div>*@
</div>
